.footer {
    background-color: #333;
    border-radius: 0px 50px 0px 0px;
    color: white;
    padding: 40px 0;
    width: 100vw;
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .footer-section {
      flex: 1 1 20%;
    }
    
     h2, .footer h3 {
      color: white;
    }
    
     ul {
      list-style: none;
      padding: 0;
    }
    
     li {
      margin: 10px 0;
    }
    
     a {
      color: #bbb;
      text-decoration: none;
    }
    
     a:hover {
      color: white;
    }
  }
  
 
  