.header {
    background-image:url('../assets/bg-pattern-intro-desktop.svg');
    background-color:   hsl(13, 100%, 72%);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px 0;
    border-radius: 0px 0px 0px 50px;
    width: 100vw;
     .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      font-size: 24px;
      font-weight: bold;
    }
    .nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }
     .nav a {
      color: white;
      text-decoration: none;
    }
    .nav img{
      margin:0px 10px;
    }
    .buttons {
      .login,.sign-up {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 16px;
    }
    .sign-up {
      background-color: white;
      color: #f25f3a;
      padding: 10px 20px;
      border-radius: 20px;
      margin-left: 10px;
    }
    .sign-up:hover{
      background: lightblue;
    }
    }
    .modern{
      color: white;
      padding: 100px 0;
      text-align: center;
          
    h1 {
      font-size: 48px;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      margin-bottom: 40px;
    }
    .btn {
      .start-free, .learn-more {
        background: none;
        border: 2px solid white;
        color: white;
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        border-radius: 20px;
      }
      .start-free {
        background-color: white;
        color: #f25f3a;
      }
      .start-free:hover{
        background:  hsl(13, 100%, 72%);
        color: white;
      }
      .learn-more:hover{
        color: #f25f3a;
        background: white;
      }
    }
    }
    
     .content {
      max-width: 800px;
      margin: 0 auto;
    }

  }
  