.header {
  background-image: url('../assets/bg-pattern-intro-desktop.svg');
  background-color: hsl(13, 100%, 72%);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 20px 0;
  border-radius: 0px 0px 0px 100px;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
   .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
   .nav{
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }
    
   a {
      color: white;
      text-decoration: none;
    }
      button{
        background-color: transparent;
        border: none;
        img {
          margin: 0px 10px;
      }
    }
    
   }
   .buttons{
    .login,
    .sign-up {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
   .sign-up {
    background-color: white;
    color: #f25f3a;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
  }
  
   .sign-up:hover {
    background: lightblue;
  }
   }
  .hamburger{
    display: none;
  }
   .modern {
    color: white;
    padding: 100px 0;
    text-align: center;
    
    h1 {
      font-size: 48px;
      margin-bottom: 20px;
    }
    
      p {
      font-size: 18px;
      margin-bottom: 40px;
    }
    
      .btn {
        .start-free,
       .learn-more {
      background: none;
      border: 2px solid white;
      color: white;
      padding: 10px 20px;
      margin: 5px;
      cursor: pointer;
      border-radius: 20px;
    }
     .start-free {
      background-color: white;
      color: #f25f3a;
    }
    
     .start-free:hover {
      background: hsl(13, 100%, 72%);
      color: white;
    }
    
     .learn-more:hover {
      color: #f25f3a;
      background: white;
    }
      }
  }
  
  
   .content {
    margin: 0 auto;
  }
  
}


.hamburger-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding: 0px;
    width: 100%;
    margin: 0px;
  
  .desktop-menu {
    display: none;
  }

  .hamburger {
    display: block;
    button{
    background-color: transparent;
    border: none;
    }
  }

  .nav{
    ul{
      li{
        display: none;
      }
    }
  }
    .container{
      margin: 0px;
      .buttons {
        .login,.sign-up{
       display: none;
        }
      }
    } 
  
  }
  }
  

